In [8]:
import pandas as pd
df = pd.read_csv('/home/student/dataset.csv')
df

,Course,Enrollment No.,Name,M/F,Date of Birth,Permanent City,Mobile No.,Email ID,SSC(%),HSC(%),Graduation,Degree,University,PG Avg. Till now
0,Imsc(IT),201901619010121,Udity,F,26/08/02,Ahmedabad,2657894025,udity@gmail.com,87.00%,85.00%,2022,Imsc(IT),GLS University,89.00%
1,Imsc(IT),201901619010122,Rishav,M,05/03/98,Ahmedabad,4589789630,rishav@gmail.com,88.00%,86.00%,2022,Imsc(IT),GLS University,90.00%
2,MBA,201901619010123,Kanishka,F,09/01/00,Ahmedabad,4589789631,kanishka@gmail.com,89.00%,87.00%,2022,MBA,GLS University,91.00%
3,BBA,201901619010124,Aastha,F,18/03/02,Ahmedabad,4589789632,aastha@gmail.com,90.00%,88.00%,2021,BBA,GLS University,92.00%
4,BSC,201901619010125,Ruchanshu,M,11/12/02,Ahmedabad,4589789633,ruchanshu@gmail.com,91.00%,89.00%,2022,BSC,GLS University,93.00%
5,B.Tech,201901619010126,Pinkesh,M,16/07/02,Ahmedabad,4589789634,pinkesh@gmail.com,92.00%,90.00%,2021,B.Tech,GLS University,94.00%
6,B.com,201901619010127,Parth,M,16/04/02,Ahmedabad,4589789635,parth@gmail.com,93.00%,91.00%,2020,B.com,GLS University,95.00%
7,M.com,201901619010128,Dhruvi,F,29/08/02,Ahmedabad,4589789636,dhruvi@gmail.com,94.00%,92.00%,2019,M.com,GLS University,96.00%
8,PGDCA,201901619010129,Trushil,M,19/07/02,Ahmedabad,4589789637,trushil@gmail.com,95.00%,93.00%,2021,PGDCA,GLS University,97.00%

In [9]:
len(df)

9

In [10]:
df.head(2)

,Course,Enrollment No.,Name,M/F,Date of Birth,Permanent City,Mobile No.,Email ID,SSC(%),HSC(%),Graduation,Degree,University,PG Avg. Till now
0,Imsc(IT),201901619010121,Udity,F,26/08/02,Ahmedabad,2657894025,udity@gmail.com,87.00%,85.00%,2022,Imsc(IT),GLS University,89.00%
1,Imsc(IT),201901619010122,Rishav,M,05/03/98,Ahmedabad,4589789630,rishav@gmail.com,88.00%,86.00%,2022,Imsc(IT),GLS University,90.00%

In [11]:
df.tail(2)

,Course,Enrollment No.,Name,M/F,Date of Birth,Permanent City,Mobile No.,Email ID,SSC(%),HSC(%),Graduation,Degree,University,PG Avg. Till now
7,M.com,201901619010128,Dhruvi,F,29/08/02,Ahmedabad,4589789636,dhruvi@gmail.com,94.00%,92.00%,2019,M.com,GLS University,96.00%
8,PGDCA,201901619010129,Trushil,M,19/07/02,Ahmedabad,4589789637,trushil@gmail.com,95.00%,93.00%,2021,PGDCA,GLS University,97.00%

In [14]:
df.query('Graduation > 90').head(2)

,Course,Enrollment No.,Name,M/F,Date of Birth,Permanent City,Mobile No.,Email ID,SSC(%),HSC(%),Graduation,Degree,University,PG Avg. Till now
0,Imsc(IT),201901619010121,Udity,F,26/08/02,Ahmedabad,2657894025,udity@gmail.com,87.00%,85.00%,2022,Imsc(IT),GLS University,89.00%
1,Imsc(IT),201901619010122,Rishav,M,05/03/98,Ahmedabad,4589789630,rishav@gmail.com,88.00%,86.00%,2022,Imsc(IT),GLS University,90.00%

In [15]:
df.query('Graduation > 2020')

,Course,Enrollment No.,Name,M/F,Date of Birth,Permanent City,Mobile No.,Email ID,SSC(%),HSC(%),Graduation,Degree,University,PG Avg. Till now
0,Imsc(IT),201901619010121,Udity,F,26/08/02,Ahmedabad,2657894025,udity@gmail.com,87.00%,85.00%,2022,Imsc(IT),GLS University,89.00%
1,Imsc(IT),201901619010122,Rishav,M,05/03/98,Ahmedabad,4589789630,rishav@gmail.com,88.00%,86.00%,2022,Imsc(IT),GLS University,90.00%
2,MBA,201901619010123,Kanishka,F,09/01/00,Ahmedabad,4589789631,kanishka@gmail.com,89.00%,87.00%,2022,MBA,GLS University,91.00%
3,BBA,201901619010124,Aastha,F,18/03/02,Ahmedabad,4589789632,aastha@gmail.com,90.00%,88.00%,2021,BBA,GLS University,92.00%
4,BSC,201901619010125,Ruchanshu,M,11/12/02,Ahmedabad,4589789633,ruchanshu@gmail.com,91.00%,89.00%,2022,BSC,GLS University,93.00%
5,B.Tech,201901619010126,Pinkesh,M,16/07/02,Ahmedabad,4589789634,pinkesh@gmail.com,92.00%,90.00%,2021,B.Tech,GLS University,94.00%
8,PGDCA,201901619010129,Trushil,M,19/07/02,Ahmedabad,4589789637,trushil@gmail.com,95.00%,93.00%,2021,PGDCA,GLS University,97.00%